{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
    {% for article in articles_page.object_list %}
             <section id="content" class="body">
                    <ul id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
                        <li>
                            <article class="z-depth-3 white">
                                <header>
                                    <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                                </header>

                                <div >
                                {% include 'article_infos.html' %}
                                {{ article.summary }}
                                    <div class="right-align">
                                <a class="waves-effect waves-light btn "
                                   href="{{ SITEURL }}/{{ article.url }}">
                                    <i class="material-icons right">keyboard_arrow_down</i>Aller plus loin...</a> </div>

                                {% include 'comments.html' %}
                                </div><!-- /.entry-content -->
                            </article>
                        </li>
               </ul><!-- /#posts-list -->
                {% if articles_page.has_other_pages() %}
                    {% include 'pagination.html' %}
                {% endif %}
                </section><!-- /#content -->
      {% endfor %}
{% else %}
    <p>This site currently has no content.</p>
{% endif %}
{% endblock content %}
